<!DOCTYPE html>
<html>
  <head>
    <title>Who Tweeted It?</title>
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

  </head>
  <body>

  	<h1 id="title">Who Tweeted It?</h1>
    <div id="app" class="container">

      <div id="main">
      	<!-- Username Form -->
      <form id="usernameForm" v-if="showUsernameForm">
      	<div class="row"><h3 id="usernameFormTitle">Enter Names to Compare</h3><p>{{ errorText }}</p></div>
        <div class="row">
          <div class="six columns">
            <input v-model="username1" type="text" name="user1" id="user1" class="u-full-width" placeholder="First Username">
          </div>
          <div class="six columns">
            <input v-model="username2" type="text" name="user2" id="user2" class="u-full-width" placeholder="Second Username">
          </div>
        </div>
        <button type="button" class="u-full-width" v-on:click="usernameFormButton">Submit</button>
      </form>

      <!-- Tweet Display -->
      <div v-if="!loading">
        <div id="tweetDisplay" v-if="showTweetDisplay">
          <div id="tweetWrapper" v-if="errorText == null || errorText.length == 0">
            <p id="the_tweet">{{ currentTweetText }}</p>
          </div>
          <div v-else> <p class="error">{{errorText}}</p> </div>

          <div class="row" id="usernameButtonRow">
            <div class="six columns">
              <button class="u-full-width" v-bind:username=username1 v-on:click="checkAnswer">{{ username1 }}</button>
            </div>
            <div class="six columns">
              <button class="u-full-width" v-bind:username=username2 v-on:click="checkAnswer">{{ username2 }}</button>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <button class="u-full-width" id="nextTweetButton" v-on:click="nextTweetButton">Next Tweet</button>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <button class="u-full-width" id="tryDifferentUsersButton" v-on:click="tryDifferentUsersButton">Try different users</button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="loading"><div class="loader"></div></div>


      <div class="score">Score: {{score}}</div>
    </div>

      </div>

    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
